/* You can add global styles to this file, and also import other style files */
:root{
    --azulclaro: #00befa;
    --amarilloclaro: #FAE900;
    --azulbrillante: #003afa;
    --amarillooscuro:#fab600;
    --azuloscuro:#3751a5;
    --azulgris:#3d6c7a;
    --azulgrisf: #2c3e50;
    --blanco: whitesmoke;

    --special:"Comfortaa", sans-serif;
    --text: "Helvetica Neue", sans-serif;
    --other: "Franklin Gothic", sans-serif;
}
html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}


/* Tema 0*/
body.contraste-tema-0 {
  background-color: #000  ;
  color: white  ;
}

/* Tema 1*/
body.contraste-tema-1 {
  background-color: #fff  ;
  color: #000  ;
}

/* Tema 2*/
body.contraste-tema-2 {
  background-color: #002244  ;
  color: black  ;
}

/* Subrayar texto visible en todos los temas */
body[class^="contraste-tema-"] p,
body[class^="contraste-tema-"] h1,
body[class^="contraste-tema-"] h2,
body[class^="contraste-tema-"] h3,
body[class^="contraste-tema-"] h4,
body[class^="contraste-tema-"] h5,
body[class^="contraste-tema-"] h6,
body[class^="contraste-tema-"] a,
body[class^="contraste-tema-"] li,
body[class^="contraste-tema-"] label,
body[class^="contraste-tema-"] span,
body[class^="contraste-tema-"] header,
body[class^="contraste-tema-"] footer,
body[class^="contraste-tema-"] section,
body[class^="contraste-tema-"] div

 {
  text-decoration: underline  ;
}

/* Botones dentro de contraste */
body[class^="contraste-tema-"] button {
  border: 2px solid white  ;
  padding: 4px 8px;
}
