<div class="body_login_register">
    <section class="text-center mt-4">
        <h1>Recuperar cuenta</h1>
    </section>


  <section class="d-flex justify-content-center mt-5">
    <form class="w-50" [formGroup]="recoverAccount">

      <div class="mb-3">
        <label for="email" class="form-label">Número de Teléfono</label>
        <input type="text" id="email" name="email" formControlName="email" class="form-control" readonly>
      </div>

      <div class="mb-3 d-grid">
        <button type="button" class="btn btn-secondary" 
        (click)="sendCode(); recoverAccount.patchValue({sendCodePressed: true})">Enviar código</button>
      </div>

      <div class="mb-3">
        <label for="code" class="form-label">Código de verificación</label>
        <input type="number" id="code" name="code" formControlName="code" class="form-control"placeholder="123456">
      </div>

      <div class="mb-3 d-grid">
        <button type="submit" class="btn btn-primary" [disabled]="recoverAccount.invalid" (click)="validatedCode()">Confirmar código e ingresar</button>
      </div>

      <hr class="my-4">

    </form>
  </section>


</div>